In [97]:
import pandas as pd
import numpy as np
from tabula import read_pdf

In [98]:
df = read_pdf('../Data/2006_pres_polling.pdf',
              pages='all',
              lattice=True,
              multiple_tables=True,
               # stream=True
                # pandas_options={'header': None},
              format='CSV',
               )

In [99]:
# df

In [100]:
frames = df[1:]
df = pd.concat(frames)
# df[2]

In [101]:
df = df[['Subcounty:',
 'Parish',
 'Polling Station',
 'Reg. Voters',
 'ABED\rBWANIKA',
 # 'BESIGYE\rKIZZA',
 # 'Unnamed: 0',
 # 'OBOTE\rKALULE',
 # 'SSEBAANA\rJOHN',
 'Unnamed: 1',
 # 'YOWERI\rKAGUTA',
 # 'Valid\rVotes',
 # 'Invalid\rVotes',
 # 'Unnamed: 2',
 'Total Votes',
 # 'Unnamed: 3',
 # 'Unnamed: 4',
 # 'Unnamed: 5',
 # 'Unnamed: 6',
 'Unnamed: 7',
 # 'Unnamed: 8',
 # 'Unnamed: 9',
 # 'Unnamed: 10',
 # 'Unnamed: 11',
 'Unnamed: 12',
 # 'Unnamed: 13',
 # 'Unnamed: 14',
 # 'Unnamed: 15',
 # 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 # 'Unnamed: 19',
 # 'Unnamed: 20',
 # 'Unnamed: 21',
 # 'Unnamed: 22',
 'Unnamed: 23',
 # 'Unnamed: 24',
 # 'Unnamed: 25',
 # 'Unnamed: 26',
 # 'Unnamed: 27'
   ]].dropna(how='all', axis=1)

In [102]:
df = df.head(80)

In [103]:
# Drop rows with more than 6 cell NaN
df.dropna(thresh=5)

,Subcounty:,Parish,Polling Station,Reg. Voters,ABED\rBWANIKA,Unnamed: 1,Total Votes,Unnamed: 7,Unnamed: 12,Unnamed: 17,Unnamed: 18,Unnamed: 23
2,ABOKE,OGWANGACUMA,01ALYAT P 7 SCHOOL,492,0.0,254,25.0,1.0,23.0,303,42.0,345.0
3,NaN,NaN,02ABOKE HEALTH CENTRE,547,13.0,278,19.0,8.0,34.0,352,10.0,362.0
4,NaN,NaN,03ACULABANYA S S S,610,6.0,279,28.0,10.0,88.0,411,13.0,424.0
5,NaN,NaN,04ACULBANYA P 7 SCHOOL,619,5.0,288,29.0,11.0,46.0,379,19.0,398.0
6,NaN,NaN,05AWEINGWEC P/S,183,6.0,91,13.0,4.0,11.0,125,17.0,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,NaN,NaN,05BARODWONG C.O.U,230,3.0,160,7.0,2.0,16.0,188,7.0,195.0
76,Subcounty Total,NaN,NaN,"16,932",264.0,"11,159\r( 87.4",4.9,1.6,NaN,),NaN,NaN
77,AYER,ABUR,01ABUR P 7 SCHOOL,331,11.0,168,10.0,6.0,22.0,217,10.0,227.0
78,NaN,NaN,02LWALA MARKET,670,2.0,341,14.0,4.0,36.0,397,92.0,489.0
79,NaN,NaN,03ALEE MARKET,500,7.0,297,25.0,4.0,33.0,366,15.0,381.0

In [104]:
# Fill forward
df = df.dropna(thresh=5).ffill()
df

C:\Users\Kakaire Steven\AppData\Local\Temp\ipykernel_11648\2280500873.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.dropna(thresh=5).ffill()

,Subcounty:,Parish,Polling Station,Reg. Voters,ABED\rBWANIKA,Unnamed: 1,Total Votes,Unnamed: 7,Unnamed: 12,Unnamed: 17,Unnamed: 18,Unnamed: 23
2,ABOKE,OGWANGACUMA,01ALYAT P 7 SCHOOL,492,0.0,254,25.0,1.0,23.0,303,42.0,345.0
3,ABOKE,OGWANGACUMA,02ABOKE HEALTH CENTRE,547,13.0,278,19.0,8.0,34.0,352,10.0,362.0
4,ABOKE,OGWANGACUMA,03ACULABANYA S S S,610,6.0,279,28.0,10.0,88.0,411,13.0,424.0
5,ABOKE,OGWANGACUMA,04ACULBANYA P 7 SCHOOL,619,5.0,288,29.0,11.0,46.0,379,19.0,398.0
6,ABOKE,OGWANGACUMA,05AWEINGWEC P/S,183,6.0,91,13.0,4.0,11.0,125,17.0,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,ALITO,AYALA,05BARODWONG C.O.U,230,3.0,160,7.0,2.0,16.0,188,7.0,195.0
76,Subcounty Total,AYALA,05BARODWONG C.O.U,"16,932",264.0,"11,159\r( 87.4",4.9,1.6,16.0,),7.0,195.0
77,AYER,ABUR,01ABUR P 7 SCHOOL,331,11.0,168,10.0,6.0,22.0,217,10.0,227.0
78,AYER,ABUR,02LWALA MARKET,670,2.0,341,14.0,4.0,36.0,397,92.0,489.0
79,AYER,ABUR,03ALEE MARKET,500,7.0,297,25.0,4.0,33.0,366,15.0,381.0

In [105]:
# Remove subcounty Total, District Total Rows
df = df[~(df['Subcounty:'].isin(['Subcounty Total', 'District Total']))]
df

,Subcounty:,Parish,Polling Station,Reg. Voters,ABED\rBWANIKA,Unnamed: 1,Total Votes,Unnamed: 7,Unnamed: 12,Unnamed: 17,Unnamed: 18,Unnamed: 23
2,ABOKE,OGWANGACUMA,01ALYAT P 7 SCHOOL,492,0.0,254,25.0,1.0,23.0,303,42.0,345.0
3,ABOKE,OGWANGACUMA,02ABOKE HEALTH CENTRE,547,13.0,278,19.0,8.0,34.0,352,10.0,362.0
4,ABOKE,OGWANGACUMA,03ACULABANYA S S S,610,6.0,279,28.0,10.0,88.0,411,13.0,424.0
5,ABOKE,OGWANGACUMA,04ACULBANYA P 7 SCHOOL,619,5.0,288,29.0,11.0,46.0,379,19.0,398.0
6,ABOKE,OGWANGACUMA,05AWEINGWEC P/S,183,6.0,91,13.0,4.0,11.0,125,17.0,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...
74,ALITO,AYALA,04AJUKI CHURCH,362,4.0,263,21.0,4.0,4.0,296,8.0,304.0
75,ALITO,AYALA,05BARODWONG C.O.U,230,3.0,160,7.0,2.0,16.0,188,7.0,195.0
77,AYER,ABUR,01ABUR P 7 SCHOOL,331,11.0,168,10.0,6.0,22.0,217,10.0,227.0
78,AYER,ABUR,02LWALA MARKET,670,2.0,341,14.0,4.0,36.0,397,92.0,489.0
79,AYER,ABUR,03ALEE MARKET,500,7.0,297,25.0,4.0,33.0,366,15.0,381.0

In [106]:
df = df[~(df['Parish'].isin(['Constituency T']))]

In [107]:
# Function to test where an object is int
def instTest(x):
    try: 
        if isinstance(int(x), int):
            return True
    except ValueError:
        return False

In [108]:
# Edit Polling Station
def editPollingStation(x):
    x = x.strip()
    if instTest(x[:2]):
        x = x[2:]
    else:
        pass
    return x

In [109]:
df['Polling Station'] = df['Polling Station'].apply(editPollingStation)

In [110]:
df.sample(10)

,Subcounty:,Parish,Polling Station,Reg. Voters,ABED\rBWANIKA,Unnamed: 1,Total Votes,Unnamed: 7,Unnamed: 12,Unnamed: 17,Unnamed: 18,Unnamed: 23
45,ALITO,OTKWACH,APIOGURU P.7 SCHOOL,439,2.0,247,12.0,0.0,7.0,268,12.0,280.0
59,ALITO,ADEL-LOGO,TIK GIN OKELI,571,11.0,341,15.0,7.0,13.0,387,8.0,395.0
7,ABOKE,APURU,OGWANGADAR P 7 SCHOOL,520,20.0,308,18.0,3.0,35.0,384,15.0,399.0
14,ABOKE,OPETA,ABAKO,403,5.0,256,11.0,1.0,14.0,287,15.0,302.0
57,ALITO,AYARA,APENA - ONY,333,13.0,211,24.0,6.0,12.0,266,10.0,276.0
68,ALITO,APALA,BAR OWO P 7 SCHOOL,527,9.0,375,30.0,8.0,25.0,447,4.0,451.0
6,ABOKE,OGWANGACUMA,AWEINGWEC P/S,183,6.0,91,13.0,4.0,11.0,125,17.0,142.0
70,ALITO,APALA,OBUTO P 7 SCHOOL,624,24.0,424,32.0,7.0,6.0,493,12.0,505.0
20,ABOKE,AKWIRIDIDI,IMATO P 7 SCHOOL A,363,8.0,203,10.0,8.0,5.0,234,10.0,244.0
11,ABOKE,OPETA,ONORO P.7 SCHOOL,608,4.0,413,28.0,6.0,19.0,470,6.0,476.0

In [111]:
# Remame columns
df = df.rename(
    columns={
        'Subcounty:': 'Subcounty',
       'ABED\rBWANIKA': 'ABED BWANIKA', 'Unnamed: 1': 'BESIGYE KIZZA', 'Total Votes': 'KALULE OBOTE', 'Unnamed: 7': 'SSEBAANA KIZITO',
       'Unnamed: 12': 'KAGUTA YOWERI', 'Unnamed: 17': 'Valid Votes', 'Unnamed: 18': 'Invalid Votes', 'Unnamed: 23': 'Total Votes'
    }
)

In [112]:
df = df.astype({
    'Subcounty': 'string', 'Parish': 'string', 'Polling Station': 'string', 'Reg. Voters': 'int64', 'ABED BWANIKA': 'int64',
       'BESIGYE KIZZA': 'int64', 'KALULE OBOTE': 'int64', 'SSEBAANA KIZITO': 'int64', 'KAGUTA YOWERI': 'int64',
       'Valid Votes': 'int64', 'Invalid Votes': 'int64', 'Total Votes': 'int64'
})

In [113]:
df['Total'] = df['ABED BWANIKA'] + df['SSEBAANA KIZITO']
df

,Subcounty,Parish,Polling Station,Reg. Voters,ABED BWANIKA,BESIGYE KIZZA,KALULE OBOTE,SSEBAANA KIZITO,KAGUTA YOWERI,Valid Votes,Invalid Votes,Total Votes,Total
2,ABOKE,OGWANGACUMA,ALYAT P 7 SCHOOL,492,0,254,25,1,23,303,42,345,1
3,ABOKE,OGWANGACUMA,ABOKE HEALTH CENTRE,547,13,278,19,8,34,352,10,362,21
4,ABOKE,OGWANGACUMA,ACULABANYA S S S,610,6,279,28,10,88,411,13,424,16
5,ABOKE,OGWANGACUMA,ACULBANYA P 7 SCHOOL,619,5,288,29,11,46,379,19,398,16
6,ABOKE,OGWANGACUMA,AWEINGWEC P/S,183,6,91,13,4,11,125,17,142,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,ALITO,AYALA,AJUKI CHURCH,362,4,263,21,4,4,296,8,304,8
75,ALITO,AYALA,BARODWONG C.O.U,230,3,160,7,2,16,188,7,195,5
77,AYER,ABUR,ABUR P 7 SCHOOL,331,11,168,10,6,22,217,10,227,17
78,AYER,ABUR,LWALA MARKET,670,2,341,14,4,36,397,92,489,6
79,AYER,ABUR,ALEE MARKET,500,7,297,25,4,33,366,15,381,11

In [114]:
pd.read_excel('../Data/HIV_Epidemiology_Children_Adolescents_2024.xlsx',
              index_col=0,
             sheet_name=1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
"Key HIV epidemiology indicators for children and adolescents aged 0-19, 2000-2023",,,,,,,,,,,
ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Sex,Age,Value,Lower,Upper
AFG,Country,Afghanistan,South Asia,Estimated incidence rate (new HIV infection pe...,UNAIDS 2024 estimates,2000,Both,Age 0-14,<0.01,<0.01,0.01
AFG,Country,Afghanistan,South Asia,Estimated incidence rate (new HIV infection pe...,UNAIDS 2024 estimates,2000,Both,Age 15-19,<0.01,<0.01,0.02
AFG,Country,Afghanistan,South Asia,Estimated incidence rate (new HIV infection pe...,UNAIDS 2024 estimates,2000,Female,Age 0-14,<0.01,<0.01,0.01
AFG,Country,Afghanistan,South Asia,Estimated incidence rate (new HIV infection pe...,UNAIDS 2024 estimates,2000,Female,Age 15-19,<0.01,<0.01,0.01
...,...,...,...,...,...,...,...,...,...,...,...
regionWCA,Region,UNICEF Reporting - West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2024 estimates,2023,Female,Age 10-19,5.18,3.82,6.57
regionWCA,Region,UNICEF Reporting - West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2024 estimates,2023,Female,Age 15-19,5.31,3.87,7.28
regionWCA,Region,UNICEF Reporting - West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2024 estimates,2023,Male,Age 0-14,12.08,8.89,15.82
regionWCA,Region,UNICEF Reporting - West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2024 estimates,2023,Male,Age 10-19,5.41,4.24,6.68
regionWCA,Region,UNICEF Reporting - West and Central Africa,NaN,Estimated rate of annual AIDS-related deaths (...,UNAIDS 2024 estimates,2023,Male,Age 15-19,5.78,4.32,7.59